.vote-box {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 1em;
}

.vote-section {
  margin: 0;
  background-color: #ffffff;
}

.up-vote {
  cursor: pointer;
  border-radius: 2px;

  &:hover {
    color: green;
  }
}
.down-vote {
  cursor: pointer;
  border-radius: 2px;

  &:hover {
    color: red;
  }
}
.vote-count {
  font-weight: bold;
}
